@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#mainContent
{
  margin: 0 170px;
}

h1 {
  font-family: 'Futura Std Medium';
}

h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Futura Std Book';
}

p,
span {
  font-size: 16px;
  line-height: 200%;
}

.red-btn {
  font-size: 12px;
  background-color: var(--default-red);
  color: var(--vt-c-white);
  padding: 7px 20px;
  border: solid 2px var(--default-red);
  transition: all 0.3s;
}

.red-btn:hover {
  background-color: var(--vt-c-white);
  color: var(--default-red);
  border: solid 2px var(--default-red);
}
