@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#mainContent
{
  padding-top: 112px !important;
  margin: 0 170px;
}

h1 {
  font-family: 'Futura Std Medium';
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span {
  font-family: 'Futura Std Book';
}

p,
span {
  font-size: 16px;
  line-height: 200%;
}

.red-btn {
  font-size: 12px;
  background-color: var(--default-red);
  color: var(--vt-c-white);
  padding: 7px 20px;
  border: solid 2px var(--default-red);
  transition: all 0.3s;
}

.red-btn:hover {
  background-color: var(--vt-c-white);
  color: var(--default-red);
  border: solid 2px var(--default-red);
}

.white-btn
{
  font-size: 12px;
  background-color: var(--vt-c-white);
  color: var(--default-red);
  border: solid 2px var(--default-red);
  padding: 7px 20px;
  transition: all 0.3s;
}

.white-btn:hover
{
  background-color: var(--default-red);
  color: var(--vt-c-white);
  border: solid 2px var(--default-red);
}

.header-gradiant
{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  
}

.header h1, .header h2
{
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
}


.top-left-square {
  position: absolute;
  width: 85px;
  height: 85px;
  top: -42.5px;
  left: -42.5px;
  z-index: -1;
}

.bottom-right-square {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: -42.5px;
  right: -42.5px;
  z-index: -1;
}

.header-banner.header-banner-img
{
    height: 430px;
    z-index: 1;
}

.header-banner-img
{
  background-size: cover;
  background-position: center;
}

.cust-full-width
{
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

.bg-default-red
{
  background-color: var(--default-red);
}

.bg-default-black
{
  background-color: var(--default-black);
}

body
{
  overflow-x: hidden;
}

.header-square-1 {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: 0;
  right: 0;
}

.header-square-2 {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: 0;
  right: 85px;
}

.header-square-3 {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: 85px;
  right: 0;
}

.divider-1
{
  border-top: solid 4px var(--default-red);
  width: 55px;
  margin: 20px 0;
}

.divider-1.m-auto
 {
  margin: 20px auto;
 }

@media (max-width:768px)
{
  #mainContent
  {
    margin: 0 30px;
  }

  .top-left-square
  {
    display: none;
  }

  .bottom-right-square
  {
    display: none;
  }
}
